.testimonial-section {
  text-align: center;
  padding: 40px 0;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

.testimonial-section h2 {
  font-size: 3.5rem;
  margin-bottom: 40px;
  color: #001F54;
}

.testimonial-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial-track {
  display: flex;
  width: calc(300px * 10); /* Adjust based on the number of testimonials */
  animation: slide 30s linear infinite;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 350px;
  text-align: center;
  margin: 0 10px;
  flex-shrink: 0;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.testimonial-card .country {
  font-size: 1rem;
  color: #001F54;
  margin-bottom: 15px;
}

.testimonial-card .testimonial-text {
  font-size: 1.1rem;
  font-style: italic;
  color: #555;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .testimonial-section h2 {
    font-size: 2rem;
  }

  .testimonial-card {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .testimonial-section h2 {
    font-size: 1.8rem;
  }

  .testimonial-card {
    width: 250px;
    padding: 20px; /* Adjust padding for smaller screens */
    max-height: 300px;
  }

  .testimonial-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }

  .testimonial-card h3 {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .testimonial-card .country {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .testimonial-card .testimonial-text {
    font-size: 1rem;
  }
}