/* Hero Section Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden; /* Ensure the video doesn't overflow */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire section */
  z-index: 0; /* Ensure the video is behind the overlay and text */
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 1; /* Ensure the overlay is above the video but below the text */
}

.hero-section .hero-overlay {
  position: relative;
  z-index: 2; /* Ensure the text is above the overlay */
  width: 100%;
  height: 100vh; /* Dark overlay for better text visibility */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Hero Heading Styling */
.hero-section .hero-heading {
  color: #001F54; /* Golden color */
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Adjust Search Bar within Hero Section */
.hero-section .hero-overlay .search-bar {
  width: 100%; /* Adjust width of search bar */
}

.hero-section h1 {
  font-size: 5rem;
  font-weight: 1000;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  animation: slide-in 2s ease-out forwards;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}

/* Modal Content */
.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 90%;
  max-height: 80vh;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px) {
  .hero-section h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-section h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
